/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--border-color);
	background: var(--background-color);
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	overflow: hidden;

	.button__text {
		z-index: 100;
		font-family: var(--ps2p-font, 'sans-serif');
		font-size: 14px;
		line-height: 90%;
		mix-blend-mode: difference;
		// background: var(--background-color);
	}

	&::after {
		content: '';
		position: absolute;
		left: -100%;
		width: 100%;
		height: 100%;
		background: var(--border-color);

		transition: left 0.5s ease;
	}
	&:hover {
		&::after {
			left: 0;
		}

		.floppy__icon {
			z-index: 100;
			fill: var(--text-color);
			mix-blend-mode: difference;
		}

		.button__text {
			color: var(--text-color);
			mix-blend-mode: difference;
		}
	}

	&:focus {
		box-shadow: 2px 2px 0 var(--border-color);
	}
}

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;

	font-family: var(--inter-font, 'sans-serif');
	font-variation-settings: 'wdth' var(--card-text-width);

	background: repeating-linear-gradient(
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px 4px
		),
		repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px 4px),
		linear-gradient(#e7e7e7, #1a1a1a);
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: hard-light;
}

.header {
	font-family: var(--ps2p-font, 'sans-serif');
	margin: 100px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 700px;
	height: 368px;
	background: var(--background-color);
	border: 2px solid var(--border-color);
	h1 {
		font-size: 65px;
		font-weight: normal;
	}
	h2 {
		font-size: 23px;
		font-weight: normal;
		margin-top: 20px;
		text-transform: uppercase;
	}
}

.main {
	display: flex;
	flex-direction: column;
	width: 700px;
	margin: 0 auto;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 50px;

	.card {
		display: flex;
		flex-direction: column;
		background: var(--background-color);

		.card__header {
			padding: 5px 10px;
			border: 2px solid var(--border-color);
			.card__header-heading {
				font-size: 18px;
				font-weight: 785;
			}
		}

		.card__img {
			border-left: 2px solid var(--border-color);
			border-right: 2px solid var(--border-color);
			position: relative;
			img {
				width: 100%;
				display: block;
			}

			.card__img-text {
				font-family: var(--ps2p-font, 'sans-serif');
				position: absolute;
				top: 25px;
				right: 25px;
				opacity: 50%;
				font-size: 14px;
				text-shadow: -1px 0 var(--stroke-color), 0 1px var(--stroke-color),
					1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
			}
		}

		.card__footer {
			padding: 25px;
			border: 2px solid var(--border-color);
			.card__footer-text {
				line-height: 21px;
				font-size: 18px;
				&:not(:last-child) {
					margin-bottom: 27px;
				}
			}

			.card__footer-buttons {
				margin-top: 25px;
				display: flex;
				justify-content: end;
				gap: 12px;

				.card__icon-button {
					width: fit-content;
					.like-icon {
						width: 27px;
						height: 24px;
					}
				}

				.card__like-button {
					width: 130px;
					height: 38px;

					.button__text {
						font-family: var(--ps2p-font, 'sans-serif');
						font-size: 14px;
						line-height: 90%;
					}
				}
			}
		}
	}
}

.button__save {
	max-width: 335px;
	width: 335px;
	margin: 52px auto 100px;
	min-height: 51px;
	gap: 8px;

	.floppy__icon {
		width: 21px;
		height: 21px;
	}

	.button__text {
	}
}

.save__modal {
	position: fixed;
	inset: 0;
	max-width: 353px;
	width: 353px;
	padding: 30px;
	font-family: var(--ps2p-font, 'sans-serif');
	font-size: 14px;
	line-height: 90%;

	&::backdrop {
		background: var(--background-modal-color);
		opacity: 75%;
	}

	.content__modal {
		display: flex;
		gap: 20px;

		.floppy__icon {
			width: 39px;
			height: 39px;
		}
	}

	.button__OK {
		width: 100%;
		height: 38px;
	}
}

@supports (text-stroke: 1px var(--stroke-color)) or
	(-webkit-text-stroke: 1px var(--stroke-color)) {
	.card__text {
		text-stroke: 1px var(--stroke-color);
		-webkit-text-stroke: 1px var(--stroke-color);
	}
}
