/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;

	font-family: var(--inter-font, 'sans-serif');
	font-variation-settings: 'wdth' var(--card-text-width);

	background: repeating-linear-gradient(
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px 4px
		),
		repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px 4px),
		linear-gradient(#e7e7e7, #1a1a1a);
	background-size: cover;
	background-attachment: fixed;
}

.header {
	font-family: var(--ps2p-font, 'sans-serif');
	margin: 100px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 696px;
	height: 368px;
	background: var(--background-color);
	border: 2px solid var(--border-color);
	h1 {
		font-size: 65px;
		font-weight: normal;
	}
	h2 {
		font-size: 23px;
		font-weight: normal;
		margin-top: 20px;
		text-transform: uppercase;
	}
}

.main {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 696px;
	margin: 0 auto;
}

.card {
	display: flex;
	flex-direction: column;
	border: 3px solid var(--border-color);
	background: var(--background-color);

	.card__header {
		padding: 3px 10px;
		.card__header-heading {
			font-size: 18px;
			font-weight: 785;
		}
	}

	.card__img {
		position: relative;
		img {
			width: 100%;
		}

		.card__img-text {
			font-family: var(--ps2p-font, 'sans-serif');
			position: absolute;
			top: 25px;
			right: 25px;
			opacity: 50%;
			font-size: 14px;
			text-shadow: -1px 0 var(--stroke-color), 0 1px var(--stroke-color),
				1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
		}
	}

	.card__footer {
		padding: 25px;

		.card__footer-text {
			&:not(:last-child) {
				margin-bottom: 27px;
			}
		}

		.card__footer-buttons {
			margin-top: 25px;
			display: flex;
			justify-content: end;

			.card__icon-button {
				width: fit-content;
				.like-icon {
					width: 27px;
					height: 24px;
				}
			}
		}
	}
}

@supports (text-stroke: 1px var(--stroke-color)) or
	(-webkit-text-stroke: 1px var(--stroke-color)) {
	.card__text {
		text-stroke: 1px var(--stroke-color);
		-webkit-text-stroke: 1px var(--stroke-color);
	}
}
