/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
	--inter-font: 'Inter';
	--ps2p-font: 'PressStart2P';
	--heading-card-text-width: 785;
	--card-text-width: 400;
	--background-color: #fff;
	--text-color: #000;
	--stroke-color: #fff;
	--border-color: #000;
	--background-modal-color: #000;

	--icon-stroke-color: #000;
	--icon-fill-color: #ff0000;
}
