/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
	--inter-font: 'Inter';
	--ps2p-font: 'PressStart2P';
	--heading-card-text-width: 785;
	--card-text-width: 400;
}
